@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

table {
    width: 100%;
}

.tableHeader {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.tableRow {
    color: black;
    /* font-size: 12px; */
    font-weight: 400;
}
.searchTextBox{
    margin-bottom: 2%;
    background: white;
    /* width: 21%; */
    border-radius: 8px;
    /* margin-left: auto; */
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}