<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let value of eventArray" class="col-md-4 col-lg-4 col-sm-12 pt-2">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{value.Event_name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image style="height: 201px;" src="{{value.Event_img}}" alt="Event image">
                    <mat-card-content>
                        <div class="cardContent">
                            <i class="material-icons">event</i>
                            <div class="fw-b fs-16 pl-2">Date: </div>
                            <div class="fw-500 fs-15 pl-2">{{value.Event_startDate}}</div>
                        </div>
                        <div class="cardContent pt-2">
                            <i class="material-icons">timer</i>
                            <div class="fw-b fs-16 pl-2">Time: </div>
                            <div class="fw-500 fs-15 pl-2">{{value.Event_startTime}}</div>
                        </div>
                        <div class="cardContent pt-2">
                            <i class="material-icons">home</i>
                            <div class="fw-b fs-16 pl-2">Address:</div>
                            <div class="fw-500 fs-15 pl-2">{{value.Event_address}}</div>
                        </div>

                        <div class="cardContent pt-2">
                            <i class="material-icons">money</i>
                            <div class="fw-b fs-16 pl-2">Cost: </div>
                            <div class="fw-500 fs-15 pl-2">{{value.Event_cost}}</div>
                        </div>
                        <div>
                            <div class="cardContent pt-2">
                                <i class="material-icons">info</i>
                                <div class="fw-b fs-16 pl-2">About Event: </div>
                            </div>
                            <div class="fw-500 fs-15 pl-2 scrollable">
                                {{value.Event_about}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <loading *ngIf="isLoading">{{ isLoading }}</loading>
        <div *ngIf="eventArray.length == 0" class="noData">
            <i class="material-icons" style="font-size: 109px;">sentiment_dissatisfied</i>
            <div style="font-weight: 400;">
                No Data Found !
            </div>
        </div>
        <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div> -->

    </div>
</div>