@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

table {
  width: 100%;
}

.tableHeader {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.tableRow{
  color: black;
  /* font-size: 12px; */
  font-weight: 400;
}